/* Universal selectors used to apply css property to all the elements  */
*{
    margin: 0;
    padding: 0;
    font-family: "Darker Grotesque", sans-serif;
    box-sizing: border-box;
}


/* css for whole page  */
.container{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(125deg, #E9DECB, #741102); */
    /* background: url(images/me.jpg); */
    background: #8A6C46;
    padding: 10px;
}


/* css for todo box  */
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

/* css for heading of the box and img  */
.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

/* css for input area as well as button  */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: #edeef0;
    padding: 10px;
    font-weight: 14px;
    font-size: 17px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #741102;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
}
button:hover{
    /* border: 1px solid #741102; */
    background-color: #741102f3;
    color: #edeef0;
}

/* css for tasks  */
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}


/* css for span tag in javascript  */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    /* to make cross come at the center we will use line height  */
    line-height: 40px;  
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}


p {
    font-size: 23px;
    font-weight: 14px;
    margin-block: 1.5rem;
    text-align: center;
    color: black;
  }
#linkedin{
    color: black;
    text-decoration: none;
  }
  #linkedin:hover{
    color: #741102;
  }